<div class="big-container product-manage-wrapper flexed-item">
  <form method="post" action="/dashboard/product-edit/{{sneaker._id}}" class="edit-product-form">
    <h3 class="form-title"> Edit Sneaker</h3>
    <div class="form-item-wrapper flexed-item">
      <label for="sneacker-name" class="label-name label">Model name {{sneaker.name}}</label>
      <input id="sneacker-name" type="text" class="input-text input"  name="name" value="{{sneaker.name}}">
    </div>
    <div class="form-item-wrapper flexed-item">
      <label for="sneacker-ref" class="label-ref label">Réf.</label>
      <input id="sneacker-ref" type="text" class="input-text input" name="ref" value="{{sneaker.ref}}">
    </div>
    <div class="form-item-wrapper flexed-item">
      <label for="sneacker-size" class="label-ref label">Size</label>
      <input id="sneacker-size" type="number" class="input-text input" name="size"value="{{sneaker.size}}">
    </div>
    <div class="form-item-wrapper flexed-item">
      <label for="sneacker-descr" class="label-descr label">Description</label>
      <input id="sneacker-descr" type="text" class="input-text input" name="description" value="{{sneaker.description}}">
    </div>
    <div class="form-item-wrapper flexed-item">
      <label for="sneacker-price" class="label-price label">Price</label>
      <input id="sneacker-price" type="number" class="sneacker-price input" name="price" min="1" value="{{sneaker.price}}">
    </div>
    <div class="form-item-wrapper flexed-item">
      <label for="sneacker-main-cat" class="label-main-cat label">Main category</label>
      <select id="main_category" name="category"class="select" required>
        <option {{ternary sneaker.category "==" "men" selected ""}} value="men">Men</option>
        <option {{ternary sneaker.category "==" "women" selected ""}} value="women">Women</option>
      </select>
    </div>
    <div class="form-item-wrapper flexed-item">
      <label class="label">Tags</label>
      {{> form_tags_select}}
    </div>
    <button class="button-primary add-sneacker-btn">Edit this sneaker</button>
  </form>
</div>